<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <style>-->
<!--        *{margin: 0 auto}-->
<!--        h1{margin: 5px; padding: 5px; text-align: center}-->
<!--    </style>-->
</head>
<body>
<h1>멤버 리스트 출력 예제</h1>
<table border="1">
    <thead>
    <tr>
        <th>아이디</th>
        <th>비밀 번호</th>
        <th>이름</th>
        <th>이메일</th>
        <th>등록일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="memberDto, status: ${memberDtoList}">
        <td th:text="${memberDto.userId}"></td>
        <td th:text="${memberDto.userPw}"></td>
        <td th:text="${memberDto.userName}"></td>
        <td th:text="${memberDto.userEmail}"></td>
        <td th:text="${memberDto.userRegDate}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>